<div class="topnav">
    <h2><a href="{% url 'home'%}">HomePage</a></h2>
    <h2><a href="{% url 'about'%}" title="go to add new student">Add New Student</a></h2>
    <h2><a href="{% url 'index'%}" title="go to changing">Update And Delete Students</a></h2>
    <h2><a href="{% url 'active'%}" title="go to activation search">Activation Search</a></h2>
    <h2><a href="{% url 'searchid'%}"  title="go to change department">Change Department</a></h2>
    <h2><a href="{% url 'status'%}" title="go to search status">Searching Status</a></h2>
    </div>












<!-- <span><a href="{% url 'index'%}">Home</a></span>
<span><a href="{% url 'about'%}">About</a></span> -->